*{
    padding: 0;
    margin: 0; 
}
body{
    background-color: rgb(37, 37, 37);
}
.counts{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    color: white;
}
#count{
    font-size: 30px;
}
